.page__infos-band-items-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:salmon;
    width:300px;
    justify-content: space-around;
    padding: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    bottom: 0;
    right: 18%;
}

.page__infos-band-like-style {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.page__info-band-icon-style {
    margin-left: 5px;
}

.page__infos-band-price-style {
    font-size: 20px;
}

@media screen and (max-width: 700px) {
    .page__infos-band-items-position {
        display: none;
    }
    
}