.header__position-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.header__logo-style {
    width: 260px;
    height: 80px;
    cursor: pointer;
}

.header__tags-position-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 550px;
    order: 2;
}

.header__home-position-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.header__tags-position-items :hover {

    color: white;
    border: 1px solid lightgray;
    background-color: brown;
    
}

.header__title-page {
    font-size: 30px;
    font-weight: 600;
    color: brown;
    order: 2;
}