.page__items-filter-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.page__filter-text {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.css-tj5bde-Svg {
    color: white;
}

.options__style {
    border-top: 1px solid white;
}