.page__items-filter-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.page__filter-text {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.css-tj5bde-Svg {
    color: white;
}

/* .myControlClassName {
    background-color: brown;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 150px;
    border-radius: 5px;
}

.myArrowClassName {
    border-color: white transparent transparent;
}

.myMenuClassName {
    background-color: brown;
    width: 150px;
    color: white;
} */

/* .css-2b097c-container {
    width: 200px;
}

.css-yk16xz-control {
    background-color: brown!important;
    color: white!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 150px;
    border-radius: 5px;
} */

/* .options__style {
    color: white;
} */